<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/static/css/deer.css" rel="stylesheet" />
    <meta http-equiv="refresh" content="20;url=/" />
</head>
<body>
<body>
  <div class="container">
    <div class="row">
      <h2>Device is restarting (may need up to one minute)</h2>
      <p> Redirecting in 20 seconds or click <a href="/">here</a></p>
    </div>
  </div>
</body>
</html>

